@import "./pcStyles/reset.css";
@import "./commonStyles/topNavBar.css";

@import "./commonStyles/choicedSinger.css";
@import "./commonStyles/currentMusic.css";
:root {
  --vh: 100%;
  --vw: 100%;
}
* {
  box-sizing: border-box;
  overflow-x: hidden;
}
body {
  font-family: "Bebas Neue", cursive;
}
.pcContainer {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
  height: 150vh;
  width: 100vw;
  max-width: 100%;
}
.m_App {
  display: flex;
  background-color: red;
  width: calc(var(--vw, 1vw) * 100);
  height: calc(var(--vh, 1vh) * 100);
}
a,
link {
  text-decoration: none;
  color: inherit;
}
a:visited {
  text-decoration: none;
}
